###################################
# LLM Server and embedding model configuration

# Model URL endpoints
llm_server_url=http://10.1.3.19:11434
embedding_model_url=http://10.1.3.19:11434/api/embeddings
generate_model_url=http://10.1.3.19:11434/api/generate
chat_model_url=http://10.1.3.19:11434/api/chat


# Text LLM models
LLM_model=gemma3:12b
fast_LLM_model=llama3:7b
fast_summarization_LLM_model=mistral-nemo:12b
very_smart_model=qwen3:30b # switch to gemma if resources are low

# Embedding model
embedding_model=nomic-embed-text:latest

username="Human"
chatbot_name="Ollama"



##################################
# SQL Database details

# Database readwrite_user connection details
db_driver=ODBC Driver 18 for SQL Server
db_server=10.1.3.50,1433
db_name=my_db

db_readwrite_user=readwrite_user
db_readwrite_password=password


# Database readonly_user connection details
db_readonly_user=readonly_user
db_readonly_password=password



##################################
# Other configurations

# Ports